@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-track {
	background: #0000;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	background: #b228e2;
	border-radius: 20px;
}

html {
	overflow-x: hidden;
}

body,
html {
	background: #040404;
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	line-height: 1.4;
	//scroll-behavior: smooth !important;
	// -ms-overflow-style: none;
	// scrollbar-width: none;
	// &::-webkit-scrollbar {
	//   display: none;
	// }
}

.bg-main {
	background-size: 100% 200% !important;
	background: linear-gradient(
		180deg,
		rgba(255, 234, 249, 1) 0%,
		rgba(249, 131, 191, 1) 20%,
		rgba(232, 84, 188, 1) 30%,
		rgba(126, 35, 175, 1) 40%,
		rgba(74, 13, 153, 1) 50%,
		rgba(126, 35, 175, 1) 60%,
		rgba(232, 84, 188, 1) 70%,
		rgba(249, 131, 191, 1) 80%,
		rgba(255, 234, 249, 1) 100%
	);
	background-position: top;
	transition: 0.7s;
}

.bg-second {
	background: linear-gradient(
		180deg,
		rgba(255, 234, 249, 1) 0%,
		rgba(249, 131, 191, 1) 30%,
		rgba(232, 84, 188, 1) 50%,
		rgba(126, 35, 175, 1) 90%,
		rgba(74, 13, 153, 1) 100%
	);
}

.shadow-inset {
	box-shadow: inset 0 0 4px #0004;
}

.cusPopup {
	.ant-modal-content {
		padding: 0;
		background: transparent;
	}
}

.ant-modal-mask {
	backdrop-filter: blur(10px);
}

@layer components {
	.cusContainer {
		@apply mx-auto w-[84%] tl-l:w-full tl-l:px-[20px];
	}

	.secSpacing {
		@apply mb-[60px] tl-p:mb-[30px];
	}

	.absFull {
		@apply absolute left-0 top-0 h-full w-full object-cover;
	}

	.errors {
		@apply text-[12px] text-[#ff0000];
	}

	.subTitle {
		@apply text-center uppercase tracking-[5px] text-[#D2D2D2];
	}

	.secTitle {
		@apply text-center text-[40px] font-semibold text-white;
	}
}
